<style type="text/css">
    .searchBox
    {
        background-image: url('../../Content/themes/base/images/search-icon.png');
        background-repeat: no-repeat;
        padding-left: 20px;
    }
</style>
<p class="site-title">
    @using (Html.BeginForm("Search", "Search"))
    {
        <input type="text" class="searchBox" name="q" />
    }
</p>
