@model MoviesRememberClient.Models.SearchModels
@{
    ViewBag.Title = "_Search";
}
<p class="site-title">
    @using (Html.BeginForm("Search", "Search"))
    {
        @Html.EditorFor(x => x.Query)
        <input type="submit" value="Recherche" />
    }
</p>
