@model IList<MoviesRememberClient.UserService.UserAction>
@{
    Layout = null;
}
<div style="max-width: 200px">
    @foreach (MoviesRememberClient.UserService.UserAction action in Model)
    {
        @Html.EditorFor(x => action)
    }
</div>
