@model MoviesRememberDomain.TinyMovieList
@{
    ViewBag.Title = "ComingSoon";
}

<h2>A venir</h2>
<a href="@Url.Action("ComingSoonByDate", "Showing")">Par date</a>
<section class="features">
@Html.EditorFor(x => x.TinyMovies)
</section>