@model MoviesRememberDomain.TinyMovieList
@{
    ViewBag.Title = "ComingSoon";
}

<h2>A venir</h2>
@Html.ActionLink("Films dans les salles", "NowShowing")
<section class="features">
@Html.EditorFor(x => x.TinyMovies)
</section>