@model MoviesRememberDomain.TinyMovieList
@{
    ViewBag.Title = "NowShowing";
}

<h2>Dans les salles</h2>
<a href="@Url.Action("NowShowingByDate", "Showing")">Par date</a>
<section class="features">
@Html.EditorFor(x => x.TinyMovies.EntityList)
</section>