@using Action = MoviesRememberDomain.Action
@model MoviesRememberDomain.UserAction
@{
    ViewBag.Title = "UserAction";
}
<fieldset style="margin: 5px;padding: 5px">
    <p>@Model.UserName a 
        @if(Model.Action == Action.ADD_MOVIE)
        {
            @:ajouté à sa liste
        }
        
        @if(Model.Action == Action.DELETE_MOVIE)
        {
            @:retiré de sa liste
        }
        
        @if(Model.Action == Action.SHOW_MOVIE)
        {
            @:consulté
        }
        le film @Html.ActionLink(Model.MovieName, "DisplayMovie", "Showing", new { code = Model.MovieId })
    </p>
</fieldset>
