<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    <In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->

  <connectionStrings>
    <add name="MoviesRememberDB"
      connectionString="Server=304b0b5d-c557-43e5-8f04-a05f00aca108.sqlserver.sequelizer.com;Database=db304b0b5dc55743e58f04a05f00aca108;User ID=hlymwlymaizejlbq;Password=4UAEaFr6uvw8kqbbLKvkjjQFJtxuSgseKYCQ6vt2ArDtFuDr6u8Ei2HTe44Pi6nn;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>